:root {
    --text-dark: rgb(223, 223, 223);
    --text-light: rgb(0, 0, 0);
    --text-hover: rgb(198, 40, 225);
    --bg-dark: rgb(48, 48, 56);
    --bg-light: rgb(255, 255, 255);
    --bg-menu: rgb(37, 37, 45);
    --bg-hover: rgb(31, 31, 31);
    --body-hover-dark: rgba(48, 48, 56, 0.75);
    --body-hover-light: rgba(255, 255, 255, 0.5)
}

.dark {
    --text: var(--text-dark);
    --bg: var(--bg-dark);
    --svg: var(var(--text-light));
}

.light {
    --text: var(--text-light);
    --bg: var(--bg-light);
    --svg: var(var(--text-dark));
}

.body-dark {
    --body-hover: var(--body-hover-dark);
}

.body-light {
    --body-hover: var(--body-hover-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    vertical-align: middle;
}

img {
    width: 100%;
}

svg {
    padding-inline: 1.5rem;
    transition: 0.3s;
}


html {
    font-size: 16px;
}

body {
    font-family: 'Gill Sans', sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS';
    color: var(--text-dark);
    background-image: url(https://i.redd.it/oz4hiyfwg3ob1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--body-hover);
    position: fixed;
    z-index: -1;
    transition: background 1s;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-menu);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(108, 108, 108);
    border-radius: 100px;
}

main {
    /*background-color: var(--bg);*/
    color: var(--text);
    transition: background 1s, color 0.5s;
}

/* NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.navbar {
    width: 5rem;
    position: fixed;
    background-color: var(--bg-menu);
    transition: width 0.3s ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    flex-direction: column;
}

.nav-link {
    color: var(--text);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link-text {
    margin-left: 1rem;
    transition: 0.3s;
}

.nav-item,
.ying,
.arrow {
    width: 100%;
    cursor: pointer;
    padding-block: 1rem;
    transition: width 0.3s;
}

.logo {
    width: 100%;
    letter-spacing: 0.1ch;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    background: var(--bg-hover);
}

.ying {
    margin-top: auto;
}

.nav-item:hover,
.ying:hover {
    background: var(--bg-hover);
}

.nav-item:hover svg,
.nav-item:hover .link-text,
.ying:hover svg,
.ying:hover .link-text,
.arrow:hover svg {
    color: var(--text-hover);
}

/* HOME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main {
    margin-left: 5rem;
    padding: 1rem 0;
}

#pointers-sections {
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 5.5rem;
    top: 0rem;
}

.pointer {
    color: var(--text-hover);
    padding-block: 1rem;
    opacity: 0;
}

.pointer:last-child {
    margin-top: auto;
}

/* GAME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.row {
    column-gap: 2rem;
}

.test {
    background: transparent;
    border-radius: 10px;
    font-size: 1.8rem;
    width: 11rem;
    height: 11rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Rock {
    background-image: url(imgs/rock.png);
}

.Paper {
    background-image: url(imgs/paper.png);
}

.Scissor {
    background-image: url(imgs/scissor.png);
}

/* CONTACT US ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#contact-us {}

/* PRESETS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.selected-color {
    color: var(--text-hover) !important;
}

.hide {
    display: none !important;
}

.navbar-wide {
    width: 15rem;
}

.rotate {
    transform: rotate(180deg);
}

.w-100 {
    width: 100%;
}

.container {
    max-width: 90%;
}

.mx-auto {
    margin-inline: auto;
}

.ms-auto {
    margin-inline-start: auto;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mx-1 {
    margin-inline: 1rem;
}

.mx-2 {
    margin-inline: 2rem;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

@media screen and (max-width:600px) {

    .vh-100 {
        min-height: 79.55vh;
    }

    main {
        margin-left: 0;
        margin-bottom: 5rem;
    }

    .navbar {
        height: 5rem;
        width: 100vw;
        bottom: 0;
    }

    svg {
        margin-top: 0.6rem;
        min-width: 4.5rem;
        max-width: 4.5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .link-text {
        display: none;
    }

    .ying {
        margin-top: 0;
    }

    .selected-border {
        border-top: 3px var(--text-hover) solid;
    }

}

@media screen and (min-width: 600px) {

    .vh-100 {
        min-height: 100vh;
    }

    svg {
        min-width: 5rem;
        max-width: 5rem;
    }

    .selected-border {
        border-right: 3px var(--text-hover) solid;
    }
}